body {
  margin: 0;
  padding: 0;
  -background-image: url(https://www.bing.com/th?id=OHR.MischiefCubs_ZH-CN5217361502_1920x1080.jpg&rf=NorthMale_1920x1080.jpg&pid=hp);
  -background-size: cover;
}

.icon-list {
  display: flex;
}

.panel-content {
  display: flex;
}